@{
    ViewData["Title"] = "Etusivu";
}


<div class="text-center">
    <h1 class="display-4">Welcome to the Learning Diary!</h1>
    <p>Let's start learning...</p>
    
</div>

<div class="row">
    <div class="col">
        <h2>About the app</h2>
        <p>The learning diary app makes learning easy and fun! Make entries for new courses, edit course details and mark down completed courses.
            You can also delete courses and search previous entries. Let's begin!</p>
    </div>
    <div class="col">
        <h2>New functions</h2>
        <p>The app is free, but for only 5,99$ a month you get the new and improved features!</p>
    </div>
</div>

<br>
<br>

<body>

    <h1>Here you can find instructions on how to use the app</h1>

    <div class="button">
        
        <button id="MyButton">Click here</button>
        <h1 id="MyHeading"></h1>
    </div>

</body>


<script>
    
    //Select button by id
    const MyButton = document.getElementById('MyButton');
    //Add on click listener for button
    MyButton.addEventListener('click',
        function () {

            //Select (h1) heading by id, and then change it's value to (instructions)
            document.getElementById('MyHeading').innerText = "Go to the Topics page to enter a new course and edit ongoing courses.";
            

        });

</script>


<!--View-osuus MVC:stä eli käyttöliittymäosuus -->
<!--Tämä on etusivu, joka näkyy selaimessa nimellä Home-->
