@{
    ViewData["Title"] = "Etusivu";
}
<br>
<br>
<br>
<br>
<br>


<div class="text-center">
    <h1 class="display-4" style="font-size:360%;" margin-top: 300px;> <b>Welcome to the Learning Diary!</b></h1>
    <p style="font-size:260%;"><b>Let's start learning...</b></p>

</div>


<br>
<br>


<body>



    <h1>Instructions</h1>

    <div class="button">

        <button id="MyButton">Click here</button>
        <h1 id="MyHeading"></h1>
    </div>

</body>


<script>

    //Select button by id
    const MyButton = document.getElementById('MyButton');
    //Add on click listener for button
    MyButton.addEventListener('click',
        function () {

            //Select (h1) heading by id, and then change it's value to (instructions)
            document.getElementById('MyHeading').innerText = "Go to the Topics page to enter a new course, edit ongoing courses or delete courses.";


        });

</script>


<!--View-osuus MVC:stä eli käyttöliittymäosuus -->
<!--Tämä on etusivu, joka näkyy selaimessa nimellä Home-->
