@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

@{
    
}



<div class="row">
    <div class="col-3">
        <p></p>
        <ul>
           
        </ul>
        
        <div class="col">
            <p></p>
        </div>
    </div>
</div>




