@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

@{
    string topic = "tietoja tiedoista";
    string description = "kurssin kuvaus";
    int ID = 3;
}

<hi>@topic</hi>

<div class="row">
    <div class="col-3">
        <p>Lista kursseistasi</p>
        <ul>
            @for (var i = 0; i < ID; i++)
            {
                <li>@description</li>
            }
        </ul>
        
        <div class="col">
            <p>Venmo woke offal whatever shoreditch leggings flexitarian tattooed live-edge readymade dreamcatcher distillery etsy DSA. Subway tile brooklyn hella organic thundercats offal distillery unicorn actually. Disrupt jean shorts dreamcatcher photo booth venmo cold-pressed actually portland tilde. Cold-pressed hammock pabst, tofu keytar beard gochujang shaman four dollar toast palo santo. Freegan DSA roof party truffaut microdosing vaporware fingerstache pug cray shoreditch schlitz plaid viral.</p>
        </div>
    </div>
</div>




