@{
    ViewData["Title"] = "Välilehti1";
}

<div class="row">
    <div class="col">
        <br>
        <br><br>
        <br>

        <h2><b>About the app</b></h2>
        <p>The Learning diary app makes it possible to enter, edit and delete past, ongoing or future courses of any kind. Just enter your topic together with estimated and actual learning times and keep track of your courses. You can also see if the course is still ongoing or already completed and you can easily see the dates of completion.</p>
    </div>
    <div class="col">
        <br>
        <br><br>
        <br>
        <h2><b>New functions</b></h2>
        <p>Stay tuned for more features!</p>
    </div>
</div>
